{
    "parser": "@typescript-eslint/parser",
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "parserOptions": {
        "roject": "tsconfig.json",
        "tsconfigRootDir": "__dirname",
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "ignorePatterns": [
        ".eslintrc.json"
    ],
    "plugins": [
        "@typescript-eslint/eslint-plugin"
    ],
    "rules": {
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/explicit-module-boundary-types": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-inferrable-types": "error"
    }
}